# ignore 'prompt' file for GPT Engineer
app/prompt

# ignore pycache files
__pycache__/
app/__pycache__/
app/static/app/css/reference.css
chinese_zodiac_table.csv
accent_extraordinary_fortune/import_data.sql
chinese_zodiac_table_update1.csv
