# ignore 'prompt' file for GPT Engineer
app/prompt

# ignore pycache files
__pycache__/
app/__pycache__/

# command "python3 manage.py collectstatic" should be run on production to generate this folder
staticfiles/

*.DS_Store

chinese_zodiac_table_update_v2.csv
accent_extraordinary_fortune/cloudinary.py
