<!DOCTYPE html>
<html>
  <head>
    <title>Accent Extraordinary Fortune</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
  
  </head>
  <body>
    <h1>Accent Extraordinary Fortune</h1>
    <div>
      <label for="birthday">Enter Birthday</label>
      <br>
      <input type="date" id="birthday" name="birthday">
      <br>
      <button type="button">Continue</button>
      <br><br>
      Handmade by<br>Accent Temple
    </div>
  </body>
</html>


