{% extends 'app/base.html' %}

{% block content %}
  <main class="main">
    <div>
        <h1 class="bigtitle">Accent Extraordinary Fortune</h1>
        <h2 class="bigsubtitle">2024 Lunar New Year</h2>
    </div>
  
    <div>
        <h1 class="subtitle">Enter Your Birthdate</h1>
        <form action="{% url 'app:zodiac_animal' %}" method="post">
            {% csrf_token %}
            <input type="date" id="birthday" name="birthday" />
            <button type="submit">Submit</button>
        </form>
    </div>
  
    <div>
        <h2 class="bigsubtitle2">Handmade by Accent Temple</h2>
    </div>
  </main>
{% endblock %}

