{% extends 'app/base.html' %}

{% block back_button_url %}{% url 'app:upload_selfie' %}?zodiac_id={{ zodiac_id }}{% endblock %}

{% block content %}
  {% load static %}
  <div id="test-image-container">
    <div id="box">
    </div>
  </div>

  <script>
    // URL for the Django view
    var djangoViewUrl = 'http://127.0.0.1:8000/midjourney_task_progress?message_id={{ message_id }}';

    // Make an AJAX call using the fetch API
    fetch(djangoViewUrl, {
      method: 'GET',  // You can change this to 'POST' or other HTTP methods if needed
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      // Handle the data received from the Django view
      console.log('Data from Django:', data);
      // You can update your UI or perform other actions based on the data
    })
    .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
    });

  </script>
{% endblock %}