{% extends 'app/base.html' %}

{% block back_button_url %}{% url 'app:zodiac' %}?zodiac_id={{ zodiac_id }}{% endblock %}

{% block content %}
{% load static %}

<div class="upload-selfie-container">
  <div>
    <h2 class="upload-selfie title">
      See what you look like as your zodiac animal!
    </h2>
    <div class="btn-upload" onclick="triggerFileInput()">
      <h2 class="select-image">
        <img id="upload-image-icon" src="{% static 'app/svg/plus_sign.svg' %}"></img>
        <span>Choose your photo</span>
      </h2>
    </div>

    <div hidden class="loader-icon" title="1">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#FFF" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 25 25"
          to="360 25 25"
          dur="0.6s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>

    <form id="upload-image-form" hidden action="{% url 'app:result' %}?zodiac_id={{ zodiac_id }}" method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="hidden" id="zodiac_id" name='zodiac_id' value="{{ zodiac_id }}">
      <input type="hidden" id="uploaded_image_url" name='uploaded_image_url'>
      <button id="upload-image" hidden type="submit">Upload</button>
    </form>
  </div>
</div>

<script>
  function triggerFileInput() {
    $('#id_image').click();
  }

  $(document).ready(function () {
    $('#id_image').change(function () {
      var fileInput = document.getElementById('id_image');

      if (fileInput.files.length > 0) {
        $('.loader-icon').css('display', 'block');
        var file = fileInput.files[0];
        uploadFile(file);
      }
      
    });
  });

  // *********** Upload file to Cloudinary ******************** //
  const cloudName = 'nciemniak';
  const unsignedUploadPreset = 'oafxfgsy';

  function uploadFile(file) {
    const url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;
    const fd = new FormData();
    fd.append('upload_preset', unsignedUploadPreset);
    fd.append('tags', 'browser_upload'); // Optional - add tags for image admin in Cloudinary
    fd.append('file', file);

    fetch(url, {
      method: 'POST',
      body: fd,
    })
      .then((response) => response.json())
      .then((data) => {
        // File uploaded successfully
        const url = data.secure_url;
        // Create a thumbnail of the uploaded image, with 150px width
        const tokens = url.split('/');
        tokens.splice(-2, 0, 'w_600');
        var final_url = tokens.join('/');

        $('#uploaded_image_url').val(final_url);
        $('#upload-image').click();
      })
      .catch((error) => {
        console.error('Error uploading the file:', error);
      });
  }

</script>
{% endblock %}