{% extends 'app/base.html' %}

{% block show_navbar %}True{% endblock %}

{% block content %}
  {% load static %}

  <div class="zodiac-animal-container">

    <h2 class="title zodiac-animal">Your Zodiac Animal is...</h2>
    <div>
      <div class="center">
        <img class="zodiac-animal-img" src="{% static zodiac.image_url %}"></img>
      </div>

      <br>
      <h2 class="zodiac-animal big-subtitle">{{ zodiac.title | upper }}!</h2>
      <br>
    </div>

    <div>
      <h2 class="zodiac-animal subtitle">Common Traits</h2>
      <h2 class="traits zodiac-animal">
        {{ zodiac.trait_1 }}
        <img id="fried-dumpling" src="{% static 'app/images/fried_dumpling.jpeg' %}"></img>
        {{ zodiac.trait_2 }}
      </h2>
    </div>

    <p class="zodiac-animal next-form">
      <a href="{% url 'app:upload_selfie' %}?zodiac_id={{ zodiac.id }}">
        <span>See what you look like as your zodiac animal</span>
        <img src="{% static 'app/svg/next.svg' %}"></img>
      </a>
    </p>
  </div>

  <script>

  </script>
{% endblock %}


