/********** Common ***********/

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

/* Set default font to VT323 */
* {
  font-family: "VT323", monospace;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  align-items: center;
}

.center {
  text-align: center;
}

.top-nav {
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  padding-top:3px;
}

.back-button img {
  width: 24px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: #362929;
  }

  .resizing-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 680px;
  }
}


/********** Home Page ***********/

.home-container {
  background-image: url(../images/home_background_mobile.png);
  background-size:cover;
  background-position:left;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.big-title, .title, .big-subtitle, .subtitle, .credit-subtitle {
  color: white;
  text-align:center;
  justify-content: center;
}

.home.big-title {
  font-size: 65px;
  line-height: 70px;
  margin-top: 90px;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.home.big-subtitle{
  font-size: 32px;
  margin-bottom: 30px;
}

.subtitle {
  opacity: 0.85;
  font-size: 24px;
  margin-bottom: 15px;
}

.credit-subtitle {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 100px;
}

#birthday-form {
  margin-bottom: 20px;
  font-size: 30px;
}

#birthday-form button {
  padding: 6px 32px;
  font-size: 20px;
}

input#birthday {
  padding: 5px;
  height: 40px;
  font-size: 20px;
}

/* Small devices (phones, 430px and up) */
@media (min-width: 430px) {
  .big-title {
    font-size: 80px;
    line-height: 90px;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .big-subtitle {
    font-size: 40px;
  }

  .credit-subtitle {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 130px;
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #birthday-form button {
    font-size: 25px;
  }
  
  input#birthday {
    font-size: 25px;
  }
}

@media (min-height: 800px) {
  .home-container {
    margin-top: 90px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-container {
    margin-top: 0px;
    background-image: url(../images/home_background.png);
  }

  .credit-subtitle {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 95px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS styles for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles for extra large devices */
}


/********** Zodiac Animal Page ***********/

.zodiac-animal-container {
  background-color: black;
  align-items: center;
  width: 100%;
  height: -webkit-calc(100vh - 70px);
  height:    -moz-calc(100vh - 70px);
  height:         calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.title.zodiac-animal {
  font-size: 8vw;
  margin-bottom: 60px;
}

.traits.zodiac-animal {
  font-size: 8vw;
  margin-bottom: 30px;
  color: white;
}

.big-subtitle.zodiac-animal {
  font-size: 15vw;
}

.subtitle.zodiac-animal {
  font-size: 7vw;
  margin-bottom: 0px;
}

.zodiac-animal-img {
  max-width: 70%;
}

p.zodiac-animal.next-form {
  color: white;
  font-size: 4.2vw;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 30px;
}

.zodiac-animal.next-form img {
  width: 16px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

#fried-dumpling {
  width: 38px;
  position: relative;
  top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

/* XS 2: Phones, 410px and up */ 
@media (min-width: 390px) and (max-width: 767.98px) {
  .title.zodiac-animal {
    margin-bottom: 80px;
    margin-top: 10px;
  }

  .subtitle.zodiac-animal {
    margin-bottom: 1.5vh;
  }
}

@media (min-width: 768px) {
  .zodiac-animal-container {
    height: 610px;
  }

  .title.zodiac-animal {
    font-size: 35px;
  }

  .big-subtitle.zodiac-animal {
    font-size: 60px;
  }

  .subtitle.zodiac-animal {
    font-size: 25px;
  }

  .traits.zodiac-animal {
    font-size: 30px;
  }

  p.zodiac-animal.next-form {
    font-size: 15px;
  }
}

/********** Upload Selfie Page ***********/

.upload-selfie-container {
  background-color: black;
  background-image: url(../images/selfie_upload_bg_2.png);
  background-size:cover;
  background-position-x: center;
  background-position-y: 0px;
  align-items: center;
  width: 100%;
  height: -webkit-calc(100vh - 90px);
  height:    -moz-calc(100vh - 90px);
  height:         calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.title.upload-selfie {
  margin-top: 18vh;
  font-size: 12vw;
}

#upload-image-icon {
  width: 30px;
  position: relative;
  top: 7px;
}

.select-image {
  cursor: pointer;
  font-size: 8vw;
  text-align: center;
  color: white;
  margin-top: 8vh;
}

.loader-icon {
  margin-top: 20px;
  text-align: center;
}

#id_image {
  display: none;
}

@media (min-width: 768px) {
  .title.upload-selfie {
    font-size: 46px;
    margin-top: 130px;
  }

  .select-image {
    font-size: 35px;
    margin-top: 50px;
  }

  .upload-selfie-container {
    background-position: center;
    height: 610px;
  }
}


/********** Result Page ***********/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title.result {
  font-size: 10vw;
}

.result-container {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: -webkit-calc(100vh - 70px);
  height:    -moz-calc(100vh - 70px);
  height:         calc(100vh - 70px);
  display: hidden;
  background-color: black;
}

#ai-image-container {
  border-radius: 3vh;
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  width: 84vw;
  height: 84vw;
  overflow: hidden;
}

#ai-image-div {
  background-size: cover;
  width: 168vw;
  height: 84vw;
}

.fortune-link {
  margin-left: auto;
  margin-right: auto;
}

#fortune-link {
  font-size: 17px;
  cursor: pointer;
}

#fortune-link h4 {
  text-align: center;
}

#fortune-link img {
  width: 16px;
  margin-left: 5px;
  position: relative;
  top: 3px;

}

@media (min-height: 800px) {
  .result.title {
    margin-top: 6vh;
    margin-bottom: 4vh;
  }
}

@media (min-width: 768px) {
  .result-container {
    height: 610px;
  }

  .title.result {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #ai-image-container {
    width: 290px;
    height: 290px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 0px;
  }

  #ai-image-div {
    width: 580px;
    height: 290px;
  }
}

/********** Loading Screen ***********/

.loading-container {
  width: 100%;
  max-width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-align: center;
}

@keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

#loading-text {
  -moz-animation: loading-text-opacity 3s linear 0s infinite normal;
  -o-animation: loading-text-opacity 3s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 3s linear 0s infinite normal;
  animation: loading-text-opacity 3s linear 0s infinite normal;
  color: #ffffff;
  text-align: center;
  font-size: 8.5vw;
  margin-bottom: 3vh;
}

#loading-subtext {
  font-size: 6vw;
  text-align: center;
  color: white;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

div.loading {
  margin-top: 28vh;
}

@media (min-width: 768px) {
  #loading-text {
    font-size: 35px;
  }

  #loading-subtext {
    font-size: 23px;
  }
}

/********** Credits Screen ***********/

.credits-container {
  width: 100%;
  max-width: 100%;
  height: 90%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-align: center;
}

.title.credits {
  margin-top: 9vh;
  color: #ffffff;
  text-align: center;
  font-size: 14vw;
  margin-bottom: 3vh;
}

.credits p {
  line-height: 40px;
  color: white;
  font-size: 7.5vw;
  text-align: center;
  color: white;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .title.credits {
    margin-top: 40px;
    font-size: 50px;
  }

  .credits p {
    font-size: 25px;
    line-height: 32px;
  }
}